---

---

<footer class="bg-gray-950 p-5 mt-auto">
  <ul class="flex flex-col gap-2 text-white leading-tight">
    <li><a href="#" class="hover:underline">О нас</a></li>
    <li><a href="#" class="hover:underline">Каталог товаров</a></li>
    <li><a href="#" class="hover:underline">Контакты</a></li>
  </ul>
</footer>
