---
import getData from '../../js/api/api.js'
import Footer from '../../components/general/Footer.astro'
import CurrentProduct from '../../components/product_card/ProductCard.astro'
import Header from '../../components/general/header/Header.astro'
import LayoutProduct from '../../layouts/LayoutProduct.astro'
import { Category, Product } from '../../js/types'

export async function getStaticPaths() {
  const [all_categories, product] = await getData()
  return product.map((prod) => {
    return {
      params: {
        category: prod.category.uri_category,
        product: prod.uri_product,
      },
      props: { prod, all_categories },
    }
  })
}

interface Props {
  prod: Product
  all_categories: Category[]
}

const { category, product } = Astro.params
const { prod, all_categories } = Astro.props
---

<LayoutProduct product={prod}>
  <Header />
  <main class="flex-grow">
    <CurrentProduct product={prod} />
  </main>
  <Footer />
</LayoutProduct>
