---

---

<div class="col-start-2 text-center ml-1.5">
  <div class="hs-tooltip inline-block [--placement:bottom]">
    <button
      type="button"
      class="hs-tooltip-toggle w-5 h-5 inline-flex justify-center items-center gap-2 rounded-full bg-gray-50 border border-gray-200 text-gray-600 hover:bg-blue-50 hover:border-blue-200 hover:text-blue-600 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-white/[.05] dark:hover:border-white/[.1] dark:hover:text-white"
    >
      ?
      <span
        class="hs-tooltip-content leading-tight text-left hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-white rounded shadow-sm dark:bg-slate-700"
        role="tooltip"
      >
        <div class="mb-1.5 font-semibold">Получи кешбек за отзыв!</div>
        <div class="mb-1">
          <span class="font-bold">+50 ₴</span> на карту, за информативный отзыв
          о товаре.
        </div>
        <div>
          <span class="font-bold">+100 ₴</span> на карту, за распаковку или
          видео обзор товара.
        </div>
      </span>
    </button>
  </div>
</div>
