---
export const prerender = false
import getData from '../js/api/api.js'
import Layout from '../layouts/Layout.astro'
import Footer from '../components/general/footer/Footer.astro'
import Header from '../components/general/header/Header.astro'
import ProductThumbnail from '../components/general/ProductThumbnails.astro'
import Breadcrumbs from '../components/general/Breadcrumbs.astro'
import { Category, Product } from '../js/types'

const { category } = Astro.params

const [categories, products] = await getData()

const currentCategory = categories.find((cat) => {
  return cat.uri_category === category
})

const allProducts = {}
const currentProduct = products.forEach((prod) => {
  if (!allProducts[prod.category.id]) {
    allProducts[prod.category.id] = []
  }
  allProducts[prod.category.id].push(prod)
})
---

<Layout>
  <Header />
  <main class="flex-grow">
    <section class="p-2.5">
      <Breadcrumbs url="" name="На главную" />
      <h1 class="text-xl font-bold leading-tight mb-2">
        {currentCategory.title}
      </h1>
      <ProductThumbnail products={allProducts[currentCategory.id]} />
    </section>
  </main>
  <Footer />
</Layout>
