---
import getData from '../api/api.js'
import Layout from '../layouts/Layout.astro'
import Footer from '../components/general/Footer.astro'
import Header from '../components/general/Header.astro'
import ProductThumbnail from '../components/general/ProductThumbnails.astro'
import Breadcrumbs from '../components/general/Breadcrumbs.astro'
export async function getStaticPaths() {
  const [categories, products] = await getData()
  return categories.map((cat) => {
    return {
      params: { category: cat.uri_category },
      props: { cat, products },
    }
  })
}

const { category } = Astro.params
const { cat, products } = Astro.props
---

<Layout>
  <Header />
  <Breadcrumbs url="" name="На главную" />
  <h1 class="text-2xl">Category: {cat.title}</h1>
  <ProductThumbnail products={products} />
  <Footer />
</Layout>
