---
export const prerender = true
import getData from '../js/api/api.js'
import Layout from '../layouts/Layout.astro'
import Header from '../components/general/header/Header.astro'
import Bestsellers from '../components/main_page/Bestsellers.astro'
import Footer from '../components/general/footer/Footer.astro'
import TopCategories from '../components/main_page/TopCategories.astro'
import Category from '../components/main_page/Category.astro'
import Cart from '../components/cart/Cart.astro'
const [categories, ,] = await getData()
---

<Layout>
  <Header />
  <!--{(<TopCategories categories={categories} />)}-->
  {(<Category categories={categories} />)}
  <main class="flex-grow">
    <Bestsellers />
  </main>
  <Footer />
</Layout>
