---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon'

import logo from '../../../assets/images/logo_1.png'
import vodafone from '../../../assets/images/mts.png'
import kyivstar from '../../../assets/images/ks.png'
import delivery from '../../../assets/images/delivery_ru-ua.svg'
import ukrainianFlag from '../../../assets/images/uk.gif'
import SideBarMenu from './components/SideBarMenu.astro'
import Cart from '../../cart/Cart.astro'
---

<header
  class="sticky top-0 inset-x-0 z-40 bg-slate-950 flex justify-between items-center mb-5 p-2"
>
  <button
    id="openMenuButton"
    data-hs-overlay="#docs-sidebar"
    aria-controls="docs-sidebar"
    aria-label="Toggle navigation"
  >
    <Icon
      pack="ion"
      name="menu"
      class="w-9 text-white hover:text-gray-100 hover:scale-110"
    />
  </button>
  <div class="flex items-center justify-start">
    <!--<Image src={logo} alt="Logotype Solpower" width="40" class="mr-1" />-->
    <div class="text-center">
      <div class="font-semibold text-sm uppercase text-white">
        Портативные <br /> зарядные устройства
      </div>
    </div>
  </div>
  <button
    class="relative cursor-pointer hover:scale-110"
    data-hs-overlay="#cartPopUp"
  >
    <Icon
      pack="ph"
      name="shopping-cart-simple"
      class="w-8 text-white hover:text-gray-100"
    />
    <span
      class="bg-green-700 flex items-center justify-center text-white font-semibold rounded-full p-1.5 w-5 h-5 absolute -top-0.5 -right-0.5"
    >
      1
    </span>
  </button>

  <!--<div class="flex items-center justify-between mb-1">-->
  <!--  <div class="flex flex-col">-->
  <!--    <div class="flex items-center mb-1">-->
  <!--      <Image src={vodafone} alt="Логотип водафон" class="mr-1 w-5 h-5" />-->
  <!--      <span>(095) 913-588-3</span>-->
  <!--    </div>-->
  <!--    <div class="flex items-center">-->
  <!--      <Image src={kyivstar} alt="Логотип киевстар" class="mr-1 w-5 h-5" />-->
  <!--      <span>(097) 913-588-3</span>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <Image src={delivery} alt="Бесплатная доставка по Украине" />-->
  <!--</div>-->
</header>
<SideBarMenu />
<Cart />
