---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon'

import Product1 from '../assets/images/product/271227196.webp'
---

<li class="w-2/4 p-2.5 border-r border-b">
  <a><Image src={Product1} alt="Product 1" class="mb-2" /></a>
  <a><div class="leading-tight mb-1">Портативна сонячна панель</div></a>
  <div class="text-2xl font-semibold mb-1.5">
    2 800 <span class="text-base">₴</span>
  </div>
</li><li class="w-2/4 p-2.5 border-r border-b">
  <a><Image src={Product1} alt="Product 1" class="mb-2" /></a>
  <a><div class="leading-tight mb-1">Портативна сонячна панель</div></a>
  <div class="text-2xl font-semibold mb-1.5">
    2 800 <span class="text-base">₴</span>
  </div>
</li><li class="w-2/4 p-2.5 border-r border-b">
  <a><Image src={Product1} alt="Product 1" class="mb-2" /></a>
  <a><div class="leading-tight mb-1">Портативна сонячна панель</div></a>
  <div class="text-2xl font-semibold mb-1.5">
    2 800 <span class="text-base">₴</span>
  </div>
</li><li class="w-2/4 p-2.5 border-r border-b">
  <a><Image src={Product1} alt="Product 1" class="mb-2" /></a>
  <a><div class="leading-tight mb-1">Портативна сонячна панель</div></a>
  <div class="text-2xl font-semibold mb-1.5">
    2 800 <span class="text-base">₴</span>
  </div>
</li>
