---
import { Icon } from 'astro-icon'
---

<div class="border border-1 rounded-xl bg-gray-50 relative mb-5">
  <div class="flex items-center p-4">
    <Icon pack="ph" name="wallet-light" class="w-10 mr-2" />
    <div class="leading-tight">
      <span class="font-bold">Оплата.</span> Оплата во время получения товара
    </div>
  </div>
  <div class="flex items-center p-4 border-1 border-t">
    <Icon pack="carbon" name="security" class="w-10 mr-2" />
    <div class="leading-tight">
      <span class="font-bold">Гарантия.</span> 24 месяца с момента покупки
    </div>
  </div>
</div>
