<div class="mb-5 sm:mb-5">
  <div class="block mb-4 text-sm font-medium dark:text-white">
    Оцените товар
  </div>
  <div id="ratingStars" class="flex items-center justify-between">
    <div class="flex flex-col justify-center items-center">
      <svg
        id="star-1"
        class="flex-shrink-0 w-8 h-8 text-gray-300 dark:text-yellow-600 mb-1.5"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
        ></path>
      </svg>
      <span class="text-xs text-gray-600">Плохо</span>
    </div>
    <div class="flex flex-col justify-center items-center">
      <svg
        id="star-2"
        class="flex-shrink-0 w-8 h-8 text-gray-300 dark:text-yellow-600 mb-1.5"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
        ></path>
      </svg>
      <span class="text-xs text-gray-600">Так себе</span>
    </div>
    <div class="flex flex-col justify-center items-center">
      <svg
        id="star-3"
        class="flex-shrink-0 w-8 h-8 text-gray-300 dark:text-yellow-600 mb-1.5"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
        ></path>
      </svg>
      <span class="text-xs text-gray-600">Нормально</span>
    </div>
    <div class="flex flex-col justify-center items-center">
      <svg
        id="star-4"
        class="flex-shrink-0 w-8 h-8 text-gray-300 dark:text-yellow-600 mb-1.5"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
        ></path>
      </svg>
      <span class="text-xs text-gray-600">Хорошо</span>
    </div>
    <div class="flex flex-col justify-center items-center">
      <svg
        id="star-5"
        class="flex-shrink-0 w-8 h-8 text-gray-300 dark:text-yellow-600 mb-1.5"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
        ></path>
      </svg>
      <span class="text-xs text-gray-600">Отлично</span>
    </div>
  </div>
  <input type="hidden" name="rating" id="inputRating" value="0" />
</div>

<script type="module">
  import {
    getIsClickedStar1,
    getIsClickedStar2,
    getIsClickedStar3,
    getIsClickedStar4,
    getIsClickedStar5,
    setIsClickedStar1,
    setIsClickedStar2,
    setIsClickedStar3,
    setIsClickedStar4,
    setIsClickedStar5,
  } from '../../../../../../js/constants.js'
  const star1 = document.getElementById('star-1')
  const star2 = document.getElementById('star-2')
  const star3 = document.getElementById('star-3')
  const star4 = document.getElementById('star-4')
  const star5 = document.getElementById('star-5')

  const inputRating = document.getElementById('inputRating')

  star5.addEventListener('mouseover', function () {
    if (!star5.classList.contains('text-yellow-400')) {
      star5.classList.remove('text-gray-300')
      star5.classList.add('text-yellow-400')
    }
    if (!star4.classList.contains('text-yellow-400')) {
      star4.classList.remove('text-gray-300')
      star4.classList.add('text-yellow-400')
    }
    if (!star3.classList.contains('text-yellow-400')) {
      star3.classList.remove('text-gray-300')
      star3.classList.add('text-yellow-400')
    }
    if (!star2.classList.contains('text-yellow-400')) {
      star2.classList.remove('text-gray-300')
      star2.classList.add('text-yellow-400')
    }
    if (!star1.classList.contains('text-yellow-400')) {
      star1.classList.remove('text-gray-300')
      star1.classList.add('text-yellow-400')
    }
  })

  star5.addEventListener('mouseout', function () {
    if (star5.classList.contains('text-yellow-400')) {
      star5.classList.remove('text-yellow-400')
      star5.classList.add('text-gray-300')
    }
    if (star4.classList.contains('text-yellow-400')) {
      star4.classList.remove('text-yellow-400')
      star4.classList.add('text-gray-300')
    }
    if (star3.classList.contains('text-yellow-400')) {
      star3.classList.remove('text-yellow-400')
      star3.classList.add('text-gray-300')
    }
    if (star2.classList.contains('text-yellow-400')) {
      star2.classList.remove('text-yellow-400')
      star2.classList.add('text-gray-300')
    }
    if (star1.classList.contains('text-yellow-400')) {
      star1.classList.remove('text-yellow-400')
      star1.classList.add('text-gray-300')
    }
    if (getIsClickedStar5()) {
      if (!star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-gray-300')
        star5.classList.add('text-yellow-400')
      }
      if (!star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-gray-300')
        star4.classList.add('text-yellow-400')
      }
      if (!star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-gray-300')
        star3.classList.add('text-yellow-400')
      }
      if (!star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-gray-300')
        star2.classList.add('text-yellow-400')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
    if (getIsClickedStar4()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (!star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-gray-300')
        star4.classList.add('text-yellow-400')
      }
      if (!star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-gray-300')
        star3.classList.add('text-yellow-400')
      }
      if (!star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-gray-300')
        star2.classList.add('text-yellow-400')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
    if (getIsClickedStar3()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-yellow-400')
        star4.classList.add('text-gray-300')
      }
      if (!star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-gray-300')
        star3.classList.add('text-yellow-400')
      }
      if (!star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-gray-300')
        star2.classList.add('text-yellow-400')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
    if (getIsClickedStar2()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-yellow-400')
        star4.classList.add('text-gray-300')
      }
      if (star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-yellow-400')
        star3.classList.add('text-gray-300')
      }
      if (!star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-gray-300')
        star2.classList.add('text-yellow-400')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
    if (getIsClickedStar1()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-yellow-400')
        star4.classList.add('text-gray-300')
      }
      if (star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-yellow-400')
        star3.classList.add('text-gray-300')
      }
      if (star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-yellow-400')
        star2.classList.add('text-gray-300')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
  })

  star5.addEventListener('click', function () {
    setIsClickedStar5(true)
    inputRating.value = '5'
    if (getIsClickedStar5()) {
      setIsClickedStar4(false)
      setIsClickedStar3(false)
      setIsClickedStar2(false)
      setIsClickedStar1(false)

      if (!star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-gray-300')
        star5.classList.add('text-yellow-400')
      }
      if (!star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-gray-300')
        star4.classList.add('text-yellow-400')
      }
      if (!star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-gray-300')
        star3.classList.add('text-yellow-400')
      }
      if (!star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-gray-300')
        star2.classList.add('text-yellow-400')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
  })

  star4.addEventListener('mouseover', function () {
    if (star5.classList.contains('text-yellow-400')) {
      star5.classList.remove('text-yellow-400')
      star5.classList.add('text-gray-300')
    }
    if (!star4.classList.contains('text-yellow-400')) {
      star4.classList.remove('text-gray-300')
      star4.classList.add('text-yellow-400')
    }
    if (!star3.classList.contains('text-yellow-400')) {
      star3.classList.remove('text-gray-300')
      star3.classList.add('text-yellow-400')
    }
    if (!star2.classList.contains('text-yellow-400')) {
      star2.classList.remove('text-gray-300')
      star2.classList.add('text-yellow-400')
    }
    if (!star1.classList.contains('text-yellow-400')) {
      star1.classList.remove('text-gray-300')
      star1.classList.add('text-yellow-400')
    }
  })

  star4.addEventListener('mouseout', function () {
    if (!getIsClickedStar4()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-yellow-400')
        star4.classList.add('text-gray-300')
      }
      if (star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-yellow-400')
        star3.classList.add('text-gray-300')
      }
      if (star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-yellow-400')
        star2.classList.add('text-gray-300')
      }
      if (star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-yellow-400')
        star1.classList.add('text-gray-300')
      }
    }
    if (getIsClickedStar5()) {
      if (!star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-gray-300')
        star5.classList.add('text-yellow-400')
      }
      if (!star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-gray-300')
        star4.classList.add('text-yellow-400')
      }
      if (!star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-gray-300')
        star3.classList.add('text-yellow-400')
      }
      if (!star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-gray-300')
        star2.classList.add('text-yellow-400')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
    if (getIsClickedStar3()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-yellow-400')
        star4.classList.add('text-gray-300')
      }
      if (!star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-gray-300')
        star3.classList.add('text-yellow-400')
      }
      if (!star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-gray-300')
        star2.classList.add('text-yellow-400')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
    if (getIsClickedStar2()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-yellow-400')
        star4.classList.add('text-gray-300')
      }
      if (star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-yellow-400')
        star3.classList.add('text-gray-300')
      }
      if (!star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-gray-300')
        star2.classList.add('text-yellow-400')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
    if (getIsClickedStar1()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-yellow-400')
        star4.classList.add('text-gray-300')
      }
      if (star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-yellow-400')
        star3.classList.add('text-gray-300')
      }
      if (star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-yellow-400')
        star2.classList.add('text-gray-300')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
  })

  star4.addEventListener('click', function () {
    setIsClickedStar4(true)
    setIsClickedStar5(false)
    setIsClickedStar3(false)
    setIsClickedStar2(false)
    setIsClickedStar1(false)
    inputRating.value = '4'
    if (star5.classList.contains('text-yellow-400')) {
      star5.classList.remove('text-yellow-400')
      star5.classList.add('text-gray-300')
    }
    if (!star4.classList.contains('text-yellow-400')) {
      star4.classList.remove('text-gray-300')
      star4.classList.add('text-yellow-400')
    }
    if (!star3.classList.contains('text-yellow-400')) {
      star3.classList.remove('text-gray-300')
      star3.classList.add('text-yellow-400')
    }
    if (!star2.classList.contains('text-yellow-400')) {
      star2.classList.remove('text-gray-300')
      star2.classList.add('text-yellow-400')
    }
    if (!star1.classList.contains('text-yellow-400')) {
      star1.classList.remove('text-gray-300')
      star1.classList.add('text-yellow-400')
    }
  })

  star3.addEventListener('mouseover', function () {
    if (star5.classList.contains('text-yellow-400')) {
      star5.classList.remove('text-yellow-400')
      star5.classList.add('text-gray-300')
    }
    if (star4.classList.contains('text-yellow-400')) {
      star4.classList.remove('text-yellow-400')
      star4.classList.add('text-gray-300')
    }
    if (!star3.classList.contains('text-yellow-400')) {
      star3.classList.remove('text-gray-300')
      star3.classList.add('text-yellow-400')
    }
    if (!star2.classList.contains('text-yellow-400')) {
      star2.classList.remove('text-gray-300')
      star2.classList.add('text-yellow-400')
    }
    if (!star1.classList.contains('text-yellow-400')) {
      star1.classList.remove('text-gray-300')
      star1.classList.add('text-yellow-400')
    }
  })

  star3.addEventListener('mouseout', function () {
    if (!getIsClickedStar3()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-yellow-400')
        star4.classList.add('text-gray-300')
      }
      if (star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-yellow-400')
        star3.classList.add('text-gray-300')
      }
      if (star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-yellow-400')
        star2.classList.add('text-gray-300')
      }
      if (star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-yellow-400')
        star1.classList.add('text-gray-300')
      }
    }
    if (getIsClickedStar5()) {
      if (!star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-gray-300')
        star5.classList.add('text-yellow-400')
      }
      if (!star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-gray-300')
        star4.classList.add('text-yellow-400')
      }
      if (!star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-gray-300')
        star3.classList.add('text-yellow-400')
      }
      if (!star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-gray-300')
        star2.classList.add('text-yellow-400')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
    if (getIsClickedStar4()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (!star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-gray-300')
        star4.classList.add('text-yellow-400')
      }
      if (!star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-gray-300')
        star3.classList.add('text-yellow-400')
      }
      if (!star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-gray-300')
        star2.classList.add('text-yellow-400')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
    if (getIsClickedStar2()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-yellow-400')
        star4.classList.add('text-gray-300')
      }
      if (star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-yellow-400')
        star3.classList.add('text-gray-300')
      }
      if (!star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-gray-300')
        star2.classList.add('text-yellow-400')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
    if (getIsClickedStar1()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-yellow-400')
        star4.classList.add('text-gray-300')
      }
      if (star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-yellow-400')
        star3.classList.add('text-gray-300')
      }
      if (star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-yellow-400')
        star2.classList.add('text-gray-300')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
  })

  star3.addEventListener('click', function () {
    setIsClickedStar3(true)
    setIsClickedStar5(false)
    setIsClickedStar4(false)
    setIsClickedStar2(false)
    setIsClickedStar1(false)
    inputRating.value = '3'

    if (star5.classList.contains('text-yellow-400')) {
      star5.classList.remove('text-yellow-400')
      star5.classList.add('text-gray-300')
    }

    if (star4.classList.contains('text-yellow-400')) {
      star4.classList.remove('text-yellow-400')
      star4.classList.add('text-gray-300')
    }

    if (!star3.classList.contains('text-yellow-400')) {
      star3.classList.remove('text-gray-300')
      star3.classList.add('text-yellow-400')
    }
    if (!star2.classList.contains('text-yellow-400')) {
      star2.classList.remove('text-gray-300')
      star2.classList.add('text-yellow-400')
    }
    if (!star1.classList.contains('text-yellow-400')) {
      star1.classList.remove('text-gray-300')
      star1.classList.add('text-yellow-400')
    }
  })

  star2.addEventListener('mouseover', function () {
    if (star5.classList.contains('text-yellow-400')) {
      star5.classList.remove('text-yellow-400')
      star5.classList.add('text-gray-300')
    }
    if (star4.classList.contains('text-yellow-400')) {
      star4.classList.remove('text-yellow-400')
      star4.classList.add('text-gray-300')
    }
    if (star3.classList.contains('text-yellow-400')) {
      star3.classList.remove('text-yellow-400')
      star3.classList.add('text-gray-300')
    }
    if (!star2.classList.contains('text-yellow-400')) {
      star2.classList.remove('text-gray-300')
      star2.classList.add('text-yellow-400')
    }
    if (!star1.classList.contains('text-yellow-400')) {
      star1.classList.remove('text-gray-300')
      star1.classList.add('text-yellow-400')
    }
  })

  star2.addEventListener('mouseout', function () {
    if (!getIsClickedStar2()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-yellow-400')
        star4.classList.add('text-gray-300')
      }
      if (star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-yellow-400')
        star3.classList.add('text-gray-300')
      }
      if (star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-yellow-400')
        star2.classList.add('text-gray-300')
      }
      if (star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-yellow-400')
        star1.classList.add('text-gray-300')
      }
    }
    if (getIsClickedStar5()) {
      if (!star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-gray-300')
        star5.classList.add('text-yellow-400')
      }
      if (!star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-gray-300')
        star4.classList.add('text-yellow-400')
      }
      if (!star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-gray-300')
        star3.classList.add('text-yellow-400')
      }
      if (!star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-gray-300')
        star2.classList.add('text-yellow-400')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
    if (getIsClickedStar4()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (!star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-gray-300')
        star4.classList.add('text-yellow-400')
      }
      if (!star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-gray-300')
        star3.classList.add('text-yellow-400')
      }
      if (!star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-gray-300')
        star2.classList.add('text-yellow-400')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
    if (getIsClickedStar3()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-yellow-400')
        star4.classList.add('text-gray-300')
      }
      if (!star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-gray-300')
        star3.classList.add('text-yellow-400')
      }
      if (!star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-gray-300')
        star2.classList.add('text-yellow-400')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
    if (getIsClickedStar1()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-yellow-400')
        star4.classList.add('text-gray-300')
      }
      if (star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-yellow-400')
        star3.classList.add('text-gray-300')
      }
      if (star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-yellow-400')
        star2.classList.add('text-gray-300')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
  })

  star2.addEventListener('click', function () {
    setIsClickedStar2(true)
    setIsClickedStar3(false)
    setIsClickedStar5(false)
    setIsClickedStar4(false)
    setIsClickedStar1(false)
    inputRating.value = '2'

    if (star5.classList.contains('text-yellow-400')) {
      star5.classList.remove('text-yellow-400')
      star5.classList.add('text-gray-300')
    }

    if (star4.classList.contains('text-yellow-400')) {
      star4.classList.remove('text-yellow-400')
      star4.classList.add('text-gray-300')
    }

    if (star3.classList.contains('text-yellow-400')) {
      star3.classList.remove('text-yellow-400')
      star3.classList.add('text-gray-300')
    }
    if (!star2.classList.contains('text-yellow-400')) {
      star2.classList.remove('text-gray-300')
      star2.classList.add('text-yellow-400')
    }
    if (!star1.classList.contains('text-yellow-400')) {
      star1.classList.remove('text-gray-300')
      star1.classList.add('text-yellow-400')
    }
  })

  star1.addEventListener('mouseover', function () {
    if (star5.classList.contains('text-yellow-400')) {
      star5.classList.remove('text-yellow-400')
      star5.classList.add('text-gray-300')
    }
    if (star4.classList.contains('text-yellow-400')) {
      star4.classList.remove('text-yellow-400')
      star4.classList.add('text-gray-300')
    }
    if (star3.classList.contains('text-yellow-400')) {
      star3.classList.remove('text-yellow-400')
      star3.classList.add('text-gray-300')
    }
    if (star2.classList.contains('text-yellow-400')) {
      star2.classList.remove('text-yellow-400')
      star2.classList.add('text-gray-300')
    }
    if (!star1.classList.contains('text-yellow-400')) {
      star1.classList.remove('text-gray-300')
      star1.classList.add('text-yellow-400')
    }
  })

  star1.addEventListener('mouseout', function () {
    if (!getIsClickedStar1()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-yellow-400')
        star4.classList.add('text-gray-300')
      }
      if (star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-yellow-400')
        star3.classList.add('text-gray-300')
      }
      if (!star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-yellow-400')
        star2.classList.add('text-gray-300')
      }
      if (star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-yellow-400')
        star1.classList.add('text-gray-300')
      }
    }
    if (getIsClickedStar5()) {
      if (!star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-gray-300')
        star5.classList.add('text-yellow-400')
      }
      if (!star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-gray-300')
        star4.classList.add('text-yellow-400')
      }
      if (!star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-gray-300')
        star3.classList.add('text-yellow-400')
      }
      if (!star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-gray-300')
        star2.classList.add('text-yellow-400')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
    if (getIsClickedStar4()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (!star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-gray-300')
        star4.classList.add('text-yellow-400')
      }
      if (!star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-gray-300')
        star3.classList.add('text-yellow-400')
      }
      if (!star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-gray-300')
        star2.classList.add('text-yellow-400')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
    if (getIsClickedStar3()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-yellow-400')
        star4.classList.add('text-gray-300')
      }
      if (!star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-gray-300')
        star3.classList.add('text-yellow-400')
      }
      if (!star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-gray-300')
        star2.classList.add('text-yellow-400')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
    if (getIsClickedStar2()) {
      if (star5.classList.contains('text-yellow-400')) {
        star5.classList.remove('text-yellow-400')
        star5.classList.add('text-gray-300')
      }
      if (star4.classList.contains('text-yellow-400')) {
        star4.classList.remove('text-yellow-400')
        star4.classList.add('text-gray-300')
      }
      if (star3.classList.contains('text-yellow-400')) {
        star3.classList.remove('text-yellow-400')
        star3.classList.add('text-gray-300')
      }
      if (!star2.classList.contains('text-yellow-400')) {
        star2.classList.remove('text-gray-300')
        star2.classList.add('text-yellow-400')
      }
      if (!star1.classList.contains('text-yellow-400')) {
        star1.classList.remove('text-gray-300')
        star1.classList.add('text-yellow-400')
      }
    }
  })

  star1.addEventListener('click', function () {
    setIsClickedStar1(true)
    setIsClickedStar2(false)
    setIsClickedStar3(false)
    setIsClickedStar5(false)
    setIsClickedStar4(false)
    inputRating.value = '1'

    if (star5.classList.contains('text-yellow-400')) {
      star5.classList.remove('text-yellow-400')
      star5.classList.add('text-gray-300')
    }

    if (star4.classList.contains('text-yellow-400')) {
      star4.classList.remove('text-yellow-400')
      star4.classList.add('text-gray-300')
    }

    if (star3.classList.contains('text-yellow-400')) {
      star3.classList.remove('text-yellow-400')
      star3.classList.add('text-gray-300')
    }
    if (star2.classList.contains('text-yellow-400')) {
      star2.classList.remove('text-yellow-400')
      star2.classList.add('text-gray-300')
    }
    if (!star1.classList.contains('text-yellow-400')) {
      star1.classList.remove('text-gray-300')
      star1.classList.add('text-yellow-400')
    }
  })
</script>
